In [9]:
import py2neo
import pandas as pd

In [3]:
graph = py2neo.Graph("http://hadoop-neo4j:7474/db/data/")

In [7]:
result_generator = graph.run('MATCH (n) RETURN n LIMIT 25')

In [6]:
results = list(result_generator)
results

[<Record n=(_0:Author {firstname: 'William', lastname: 'Shakespeare'})>,
 <Record n=(_1:Play {title: 'Julius Caesar'})>,
 <Record n=(_2:Play {title: 'The Tempest'})>,
 <Record n=(_3:Company {name: 'RSC'})>,
 <Record n=(_4:Production {name: 'Julius Caesar'})>,
 <Record n=(_5:Performance {date: 20120729})>,
 <Record n=(_6:Production {name: 'The Tempest'})>,
 <Record n=(_7:Performance {date: 20061121})>,
 <Record n=(_8:Performance {date: 20120730})>,
 <Record n=(_9:User {name: 'Billy'})>,
 <Record n=(_10:Review {rating: 5, review: 'This was awesome!'})>,
 <Record n=(_11:Venue {name: 'Theatre Royal'})>,
 <Record n=(_12:Street {name: 'Grey Street'})>,
 <Record n=(_13:City {name: 'Newcastle'})>,
 <Record n=(_14:County {name: 'Tyne and Wear'})>,
 <Record n=(_15:Country {name: 'England'})>,
 <Record n=(_16:City {name: 'Stratford upon Avon'})>]

In [8]:
results = result_generator.data()
results

[{'n': (_0:Author {firstname: 'William', lastname: 'Shakespeare'})},
 {'n': (_1:Play {title: 'Julius Caesar'})},
 {'n': (_2:Play {title: 'The Tempest'})},
 {'n': (_3:Company {name: 'RSC'})},
 {'n': (_4:Production {name: 'Julius Caesar'})},
 {'n': (_5:Performance {date: 20120729})},
 {'n': (_6:Production {name: 'The Tempest'})},
 {'n': (_7:Performance {date: 20061121})},
 {'n': (_8:Performance {date: 20120730})},
 {'n': (_9:User {name: 'Billy'})},
 {'n': (_10:Review {rating: 5, review: 'This was awesome!'})},
 {'n': (_11:Venue {name: 'Theatre Royal'})},
 {'n': (_12:Street {name: 'Grey Street'})},
 {'n': (_13:City {name: 'Newcastle'})},
 {'n': (_14:County {name: 'Tyne and Wear'})},
 {'n': (_15:Country {name: 'England'})},
 {'n': (_16:City {name: 'Stratford upon Avon'})}]

In [11]:
df = pd.DataFrame(results)
df

                                                    n
0   {'lastname': 'Shakespeare', 'firstname': 'Will...
1                          {'title': 'Julius Caesar'}
2                            {'title': 'The Tempest'}
3                                     {'name': 'RSC'}
4                           {'name': 'Julius Caesar'}
5                                  {'date': 20120729}
6                             {'name': 'The Tempest'}
7                                  {'date': 20061121}
8                                  {'date': 20120730}
9                                   {'name': 'Billy'}
10       {'review': 'This was awesome!', 'rating': 5}
11                          {'name': 'Theatre Royal'}
12                            {'name': 'Grey Street'}
13                              {'name': 'Newcastle'}
14                          {'name': 'Tyne and Wear'}
15                                {'name': 'England'}
16                    {'name': 'Stratford upon Avon'}